<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
       <form method="POST" action="/team">
      <p>Team Name: <input type="text" team_name="team_name"></p>
      <p>coach: <input type="text" coach="favorite_food"></p>
      <input type="submit">
    </form>
 </body>
</html>


